@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Manrope', sans-serif;
    background: #F7F6FF;
}

.container {
    max-width: 1368px;
    margin: 0 auto;
}

.navbar {
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
}

.btn-pink {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    color: #FFFFFF;
    background: linear-gradient(115.11deg, #F32C6D 10.12%, #CB1D95 100.01%);
    border-radius: 9px;
    border: none;
    margin-top: 10px;
    width: 200px;
    height: 50px;
}

.list-items {
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    color: #333333;
    padding-top: 20px;
    margin-left: 50px;
    display: inline-block;
    list-style: none;
}

.wrapper {
    margin-top: 80px;
    display: flex;
    justify-content: space-between;
}

.wrapper__left {
    padding-top: 40px;
}

.wrapper__left h1 {
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 45px;
line-height: 65px;
color: #000000;
width: 450px;
}
.wrapper__left span{
color: #333333;
text-transform: uppercase;    
}
.wrapper__left p {
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;
color: #333333;
}
.wrapper__right{
    user-select: none;
    
}
.btn-blue {
    margin-top: 25px;
    background: #77B2D3;
    border-radius: 250px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 26px;
    border: none;
    height: 55px;
    color: #FFFFFF;    
}
#first-btn{
    width: 250px;
}
#second-btn{
    width: 115px;
}
#third-btn{
    width: 140px;
}
.page-2{
    margin-top: 100px;
    background: #FFFFFF;
    box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
    border-radius: 20px;
height: 250px
}
.h1-box h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
    color: #333333;  
    padding-left: 65px;  
}
.procent{
    margin-top: 25px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.probable{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 48px;
line-height: 48px;
    background: linear-gradient(115.11deg, #f92169 10.12%, #CB1D95 100.01%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}
.same{
    font-family: 'Manrope';
font-style: normal;
font-weight: 500;
font-size: 20px;
line-height: 24px;
color: #333333;
margin-top: 10px;
}
.page-3{
    margin-top: 150px;
}
.h2-box{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 48px;
text-transform: uppercase;
color: #333333;
margin-bottom: 40px;
margin-left: 65px;
}

.boxs_all{
    margin-left: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
hr{
    color:#E2E2E2;
}
.boxs_all q{

    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
 

}
.w-same{
    margin-left: 20px;
    background: #FFFFFF;
width:240px;
height: 380px;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
border-radius: 15px;
}
.end-all{
padding-top: 45px;
}
.end2{
    padding-top: 90px;
}
.end-btn{
    display: flex;
    justify-content: center;
    align-items: center;
}
.start-all{
   background: #77B2D3;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
border-radius: 15px 15px 0px 0px;
width: 240px;
height: 70px;
display: flex;
justify-content: center;
align-items: center;
}
.boxs_all  h6{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
color: #333333;

}
.text-all{
margin-left: 20px;
margin-top: 20px;
}


.page-4{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-left: 65px;
}
.img__right{
    user-select: none;
}
.h1-start{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 48px;
    text-transform: uppercase;
    color: #333333;
    width: 530px;
}
.consult p{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #333333;
}
.all-inputs{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    border: none;
    color: #333333;    
}
.same-input{
    margin-top: 10px;
    margin-left: 5px;
    width: 270px;
    height: 60px;
}
.second-input{
    width: 570px;
    height: 150px;
     margin-top: 10px;
}

.check-mark{
    user-select: none;
    background: #FFFFFF;
width: 32px;
height: 32px;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
border-radius: 2px;
cursor: pointer;
}
.tick{
    display: none;
}
.check-mark img{
    width: 100%;
    height: 100%;
}
.h1-end h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 26px;
    color: #333333; 
    padding-right: 180px;   
}
.h1-end{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.page-5{
    margin-top: 100px;
    display: flex;
    justify-content: space-between;
}
.boxs__left{
margin-left: -70px;
}
.work{
    font-family: 'Manrope';
font-style: normal;
font-weight: 700;
font-size: 38px;
line-height: 48px;
text-transform: uppercase;
color: #333333;

}
.text_arrow h2{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 40px;
color: #000000;
padding-left: 140px;
}
.text_arrow img{
    padding-left: 60px;
    margin-top: -20px;
}
.arrow_left{
    width: 30px;
    height: 45px;
    margin-right: 50px;
    margin-top: 350px;
}
.arrow_right{
    width: 30px;
    height: 45px;
    margin-top: 350px;
    margin-right: 50px;
}
.similar_start p{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
width: 500px;
height: 80px;
color: #333333;
}
.similar_boxs{
    background: #FFFFFF;
box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.08);
border-radius: 15px;
width: 570px;
height: 520px;

}
.alibaba-box{
    margin-top: 80px;
}
.logo_left{
    width: 150px;
    height: 115px;
}
.logo_right{
    width: 230px;
    height: 60px;
    padding-top: 15px;
    margin-bottom: 50px;
}
.similar_results{
    background: #F3F1FE;
    width: 100%;
    height: 160px;
    margin-top: 20px;
}
.similar_results h1{
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    text-transform: uppercase;    
    color: #333333;
    padding-top: 20px;
    padding-left: 20px;
}

.similar_box{
display: flex;
justify-content: space-around;
}
.first-box{
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.second-box{
    padding-top: 10px;
    padding-left: 20px;
    font-family: 'Manrope';
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 26px;
    color: #333333;
}
.third-box{
    padding-top: 10px;
    padding-left: 20px;
font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 26px;
color: #333333;
}
.systems h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 800;
font-size: 18px;
line-height: 26px;
text-transform: uppercase;
color: #333333;
width: 100px;
height: 30px;
margin-top: 30px;
margin-left: 30px;
}
.systems img{
    margin-left: 20px;
    margin-top: 20px;
}
footer{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    width: 100%;
    height: 280px;
    background-color: #FFFFFF;
}
.logo_footer{
    margin-left: 50px;
    margin-top: 30px;
}
.policy a{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
text-decoration-line: underline;
color: #333333;

}
.policy{
    margin-left: 60px;
    margin-top: 10px;
    width: 170px;
    height: 50px;
}
.feedback button{
    margin-top: 15px;
    margin-left: 60px;
}
.same_h1{
    font-family: 'Manrope';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 36px;
text-transform: uppercase;
color: #333333;

}
.same_h6{
    font-family: 'Manrope';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 36px;
color: #333333;
}
.footer_service{
    margin-top: 40px;
    margin-right: 200px;
}
.footer_info{
    margin-top: 40px;
}

@media screen and (min-width:768px) {
.navbar{
    height: 100px;
}
.logo img{
    height: 80px;
    width: 300px;
}
.list-items{
    margin-left: 30px;
}
.wrapper__right{
    display: none;
}
.img__right{
    display: none;
}

.boxs__left{
margin-left: 150px;
}
.boxs__right{
    margin-left: -700px;
margin-top: 700px;
margin-right: 40px;
}
.footer_service h1{
    margin-left: 10px;
}
.footer_service h6{
width: 250px;
height: 40px;
}
    .wrapper__right{
        display: none;
    }
    .img__right{
        display: none;
    }

}


@media only screen and (min-width: 992px) {
    .logo img{
        width: 100%;
        height: 100%;
    }
    .digital{
        margin-top: 20px;
    }
.SMM{
    margin-top: 20px;
}
.mistakes{
margin-right: 170px;
margin-top: 20px;
padding-left: 140px;
text-align: center;
}
.page-2{
    height: 300px;
}
.page-5{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.boxs__right{
    margin-left: -75px;
    margin: 0;
}
.boxs__left{
    margin: 0;
}
.text_arrow{
margin-top: 70px;
}
footer{
    width: 100%;
}
.navbar{
    display: flex;
    flex-wrap: wrap;
}
.list-items{
margin-left: 15px;    
}
.navbar button{
    margin-right: 15px;
}
.wrapper__right{
    display: inline-block;
}
.wrapper__right img{
    width: 94%;
    height: 94%;
}
.page-4{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.img__right{
    display: inline-block;
    margin-left: -150px;
}
.footer_service{
    margin-right: 100px;
}

}

@media only screen and (min-width: 1182px) {
    .page-4{
        flex-wrap: nowrap;
        justify-content: space-around;
    }
    .footer_service{
        margin-right: 200px;
    }
    .mistakes{
        margin: 0;
        padding: 0;
    }
    .page-2{
        height: 250px;
    }
    .wrapper__right img{
        width: 100%;
        height: 100%;
    }
    .page-5{
        display: flex;
    justify-content: space-between;
}
footer{
    width: 100%;
}
    .navbar{
        height: 80px;
        display: flex;
        justify-content: space-between;
    }
    .list-items{
        margin-left: 70px;
    }
    .digital{
        margin-top: 0px;
    }
.SMM{
    margin-top: 0px;
}
.text_arrow{
    margin-top: 0;
}
.boxs__left{
    margin-left: 65px;
}
}